<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14999976032-ebff8he8fakv84u26krrdbm55qg88c71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14999976032-ebff8he8fakv84u26krrdbm55qg88c71</string>
	<key>API_KEY</key>
	<string>AIzaSyC10PdKp_1cyZB49BbM5jgQ0N8t4n6QM0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>14999976032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emit.qa</string>
	<key>PROJECT_ID</key>
	<string>the-og-lunchme</string>
	<key>STORAGE_BUCKET</key>
	<string>the-og-lunchme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14999976032:ios:8846d7b601fcddfe81ab05</string>
	<key>DATABASE_URL</key>
	<string>https://the-og-lunchme.firebaseio.com</string>
</dict>
</plist>